# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env

# Project specific
data/*.csv
data/models/
data/*.joblib
data/*.png
data/*.jpg
data/*.jpeg
